<h1>Уведомление</h1>

<p>
  <%= t('hello') + @order.name %><br>
  <%= t('mail.you_ordered') %>:<br>
  <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th><%= t('product.name') %></th>
                <th><%= t('product.count') %></th>
                <th><%= t('product.price') %></th>
                <th><%= t('product.sum_price_product') %></th>
            </tr>
        </thead>
        <tbody id="cart-items">
          <% debugger %>
          <%= render partial: 'line_items/line_item', collection: @order.line_items, as: :line_item %>
        </tbody>
    </table>
</p>
