<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label t('order.name'), style: "display: block", class: "form-label" %>
    <%= form.text_field :name, size: 40, class: "form-control" %>
  </div>

  <div>
    <%= form.label t('order.address'), style: "display: block", class: "form-label" %>
    <%= form.text_area :address, rows: 3, size: 40, class: "form-control" %>
  </div>

  <div>
    <%= form.label t('order.email'), style: "display: block", class: "form-label" %>
    <%= form.email_field :email, size: 40, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label t('btn.form'), style: "display: block", class: "form-label" %>
    <%= form.select :pay_type, Order::PAYMENT_TYPES, { prompt: t('order.choose_payment_type') }, { class: "form-select" } %>
  </div>

  <div class="mt-3 text-center">
    <%= form.submit t('btn.form'), class: "btn btn-primary" %>
  </div>
<% end %>
