<!-- app/views/orders/_order.html.erb -->
<div class="col-md-6 col-lg-4">
  <div class="card shadow-sm h-100">
    <div class="card-body">
      <h5 class="card-title"><strong><i class="fas fa-user me-2"></i><%= order.name %></strong></h5>

      <p class="card-text mb-2">
        <i class="fas fa-map-marker-alt me-2"></i><%= order.address %>
      </p>

      <p class="card-text mb-2">
        <i class="fas fa-envelope me-2"></i><%= order.email %>
      </p>

      <p class="card-text mb-3">
        <i class="fas fa-credit-card me-2"></i><%= t("payment_types.#{order.pay_type}") %>
      </p>

      
        <div class="d-grid gap-2 d-md-block">
          <%= link_to "<i class='fas fa-eye'></i> #{t('actions.show')}".html_safe, order_path(order), class: "btn btn-outline-primary btn-sm" %>

          <% if current_user.admin? %>
          <%= link_to "<i class='fas fa-edit'></i> #{t('actions.edit')}".html_safe, edit_order_path(order), class: "btn btn-outline-secondary btn-sm" %>

          <%= link_to ("<i class='fas fa-trash'></i> #{t('actions.delete')}".html_safe), order_path(order), method: :delete,
                        data: { confirm: t('helpers.confirm_delete') },
                        class: "btn btn-outline-danger btn-sm" %>
          <% end %>
        </div>
      
    </div>
  </div>
</div>