<p style="color: green"><%= notice %></p>
<table class="table table-bordered table-hover">
  <thead class="table-dark">
      <tr>
          <th><%= t('product.name') %></th>
          <th><%= t('product.count') %></th>
          <th><%= t('product.price') %></th>
          <th><%= t('product.sum_price_product') %></th>
      </tr>
  </thead>
  <tbody id="cart-items">
    <%= render partial: 'line_items/line_item', collection: @order.line_items, as: :line_item %>
  </tbody>
</table>
<div class="text-center">
  <%= link_to t('btn.back'), orders_path, class: "btn btn-light" %>
</div>
