<div class="container">
  <% unless cart.line_items.empty? %>
    <div class="d-flex justify-content-between align-items-center mx-5 mt-3">
      <h2><%= t('pages.cart') %></h2>
      <%= button_to t('btn.delete'), @cart, method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-danger btn-sm" %>
    </div>

    <div class="mx-5 mt-4">
      <div id="cart-items">
        <%= render partial: 'line_items/line_item_with_btn', collection: cart.line_items, as: :line_item %>
      </div>

      <div class="d-flex justify-content-end mt-4">
        <h5><%= t('product.sum_price') %>: <span id="total-sum"><%= number_to_currency(set_currency(cart.total_price)) %></span></h5>
      </div>
    </div>

    <div class="d-flex justify-content-end mx-5 mb-3">
      <%= button_to t('btn.form'), new_order_path, method: :get, class: "btn btn-success" %>
    </div>

  <% else %>
    <div>
      <h3>
        <%= t('carts.empty_cart') %>
      </h3>
    </div>
  <% end %>
</div>



