<p style="color: green"><%= notice %></p>

<% content_for :title, "Products" %>



<div id="products" class="container my-5">
  <h1><%= t('pages.products') %></h1>
  <table class="table">
  <thead>
    <tr>
      <th scope="col"><%= t('product.name') %></th>
      <th scope="col"><%= t('product.description') %></th>
      <th scope="col"><%= t('product.image') %></th>
      <th scope="col"><%= t('product.price') %></th>
      <th scope="col"><%= t('pages.actions') %></th>
    </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
    <%= render product %>
  <% end %>
  </tbody>
  </table>
</div>
<div class="text-center">
  <%= link_to t('btn.new'), new_product_path, class: "btn btn-success" %>
</div>
