<div class="border-bottom py-3 px-2">
  <div class="d-flex flex-column">
    <strong><%= line_item.product.title %></strong>
    <div class="d-flex justify-content-between mt-2">
      <span><%= number_to_currency(set_currency(line_item.product.price)) %></span>
      <span>x<%= line_item.quantity %></span>
      <span><%= number_to_currency(set_currency(line_item.total_price)) %></span>
    </div>
    <div class="mt-2 d-flex justify-content-end">
      <%= button_to line_item, method: :delete, confirm: 'Вы уверены?', class: "btn btn-danger btn-sm" do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
    </div>
  </div>
</div>